.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: palegreen;
}

h1 {
  color: fuchsia;
  font-family: 'Dancing Script', cursive;
}

section {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 70%;
  border: 2px solid black;
}

.projects {
  color: darkorange;
}

.interests {
  color: brown;
}

article {
  width: 60%;
}

.projects > article {
  float: left;
}

aside {
  width: 30%;
  background-color: lawngreen;
  border: 2px dotted white;
  float: right;
}

a:hover {
  background-color: seashell;
}

nav {
  width: 20%;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  font-style: italic;
  color: crimson;
}

.details-article {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 70%;
}

.details-heading {
  color: dimgray;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
  font-family: 'Arimo', sans-serif;
}
