.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: palegreen;
}

h1 {
  color: fuchsia;
  font-family: 'Dancing Script', cursive;
}

section {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 70%;
  border: 2px solid black;
}

.projects {
  color: darkorange;
}

.interests {
  color: brown;
}

article {
  width: 60%;
}

.projects > article {
  float: left;
}

aside {
  width: 30%;
  background-color: gray;
  border: 2px dotted white;
  float: right;
}

.aside-items li:nth-child(odd) a {
  color: turquoise;
}

.aside-items li:nth-child(even) a {
  color: tomato;
}

a {
  font-size: 100%;
  transition: font-size 2s 300ms;
}

a:hover {
  background-color: seashell;
  font-size: 200%;
}

nav {
  width: 20%;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  font-style: italic;
  color: crimson;
}

.details-article {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 70%;
}

.details-heading {
  color: dimgray;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

h2, h3 {
  font-family: 'Arimo', sans-serif;
}


.self-portrait img {
  width: 300px;
  transition: width 3s;
  transition-timing-function: cubic-bezier(0.25, 1.5, 0.75, -0.75);
}

.self-portrait img:hover {
  width: 500px;
}

.interests article:nth-child(2n) {
  background-color: aquamarine;
}

.interests article:nth-child(2n+1) {
  background-color: blanchedalmond;
}
